[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/msiddiq123
[access "refs/for/refs/*"]
	read = group user/msiddiq123
	push = group user/msiddiq123
	label-Code-Review = -2..+2 group user/msiddiq123
	label-Verified = -1..+1 group user/msiddiq123
	rebase = group user/msiddiq123
	removeReviewer = group user/msiddiq123
	submit = group user/msiddiq123
[access "refs/heads/*"]
	read = group user/msiddiq123
	create = group user/msiddiq123
	push = +force group user/msiddiq123
	pushMerge = group user/msiddiq123
[access "refs/tags/*"]
	push = group user/msiddiq123
	push = +force group user/msiddiq123
